*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI,Arial,sans-serif;
}

body{
    background:#edf2f7;
    color:#172033;
    display:flex;
}

a{
    text-decoration:none;
    color:inherit;
}

.sidebar{
    width:260px;
    height:100vh;
    position:fixed;
    left:0;
    top:0;
    background:#071d49;
    color:white;
    display:flex;
    flex-direction:column;
}

.logo{
    padding:28px;
    font-size:28px;
    font-weight:bold;
    border-bottom:1px solid rgba(255,255,255,.08);
}

.menu{
    margin-top:20px;
}

.menu a{
    display:flex;
    align-items:center;
    gap:14px;
    padding:16px 28px;
    transition:.25s;
}

.menu a:hover{
    background:#0b5ed7;
}

.menu a.active{
    background:#0b5ed7;
}

main{
    margin-left:260px;
    width:calc(100% - 260px);
    padding:35px;
}

.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:35px;
}

.topbar h1{
    font-size:34px;
}

.topbar p{
    color:#6b7280;
    margin-top:6px;
}
.grid-cards{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:22px;
    margin-bottom:28px;
}

.card{
    background:white;
    border-radius:18px;
    padding:24px;
    box-shadow:0 8px 25px rgba(0,0,0,.08);
    transition:.25s;
}

.card:hover{
    transform:translateY(-4px);
}

.card small{
    color:#6b7280;
    display:block;
    margin-bottom:10px;
    font-size:13px;
    text-transform:uppercase;
    letter-spacing:1px;
}

.card h2{
    font-size:38px;
    color:#071d49;
}

.card span{
    color:#16a34a;
    font-weight:bold;
}

.orange{
    color:#ff7a00 !important;
}

.blue{
    color:#2563eb !important;
}

.red{
    color:#dc2626 !important;
}

.green{
    color:#16a34a !important;
}